{% extends "base.html" %}

{% block content %}
<section class="card">
    <h3>Tentang Saya</h3>
    <p>Lulusan Teknik Informatika yang berfokus pada pengembangan backend menggunakan Python. Memiliki pemahaman kuat tentang RESTful API, struktur data, dan manajemen database SQL. Pernah membangun proyek portofolio sistem manajemen inventaris menggunakan Flask dan aktif berkontribusi dalam proyek open-source di GitHub. Siap menghadirkan solusi backend yang bersih, efisien, dan mudah dirawat.</p>

    <h3>Keahlian</h3>
    <ul>
        <li>Programming: Python, SQL, JavaScript (Basic).</li>
        <li>Web Frameworks: Flask, Django, FastAPI.</li>
        <li>Databases: PostgreSQL, MySQL.</li>
    </ul>
</section>
{% endblock %}